<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Create post</title>
    <link th:href="@{/assets/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/assets/css/styles.css}" rel="stylesheet">
    <meta name="_csrf" th:content="${_csrf.token}">
</head>
<body>
<header>
    <nav class="navbar navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="#">Editor Demo</a>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/logout">Logout</a>
                </li>
            </ul>
        </div>
    </nav>
</header>
<div class="container py-5">
    <div class="row">
        <div class="col">
            <a href="/">Back to list</a>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <h4 class="text-center">Create post</h4>
            <form th:action="@{/create}" th:object="${post}" method="post">
                <div class="form-group">
                    <label>Integer field</label>
                    <input type="number" th:field="*{integerField}" class="form-control">
                </div>
                <div class="form-group">
                    <label>String field</label>
                    <input type="text" th:field="*{stringField}" class="form-control">
                </div>
                <div class="form-group">
                    <label>Date field</label>
                    <input type="date" th:field="*{dateField}" class="form-control">
                </div>
                <div class="form-group">
                    <label>File field</label>
                    <input type="file" class="form-control" id="file">
                    <input type="hidden" th:field="*{fileDB}" class="form-control" id="file-id">
                </div>
                <div class="form-group">
                    <label>Editor field</label>
                    <textarea th:field="*{editorField}" id="editor"></textarea>
                </div>
                <div class="form-group">
                    <button class="btn btn-primary">Save</button>
                    <button class="btn btn-secondary" type="reset">Reset</button>
                </div>
            </form>
        </div>
    </div>
</div>
<script th:src="@{/assets/jquery/jquery.min.js}"></script>
<script th:src="@{/assets/js/bootstrap.min.js}"></script>
<script th:src="@{/assets/ckeditor/ckeditor.js}"></script>
<script>
    var _token = $('meta[name="_csrf"]').attr('content');
    ClassicEditor.create(document.querySelector("#editor"), {
        ckfinder: {
            uploadUrl: `/editor-upload?_csrf=${_token}`,
        },
        toolbar: {
            items: [
                'heading',
                '|',
                'bold',
                'italic',
                'link',
                'bulletedList',
                'numberedList',
                '|',
                'alignment',
                'indent',
                'outdent',
                '|',
                'imageUpload',
                'blockQuote',
                'codeBlock',
                'insertTable',
                'mediaEmbed',
                'undo',
                'redo'
            ]
        },
        language: 'en',
        image: {
            toolbar: [
                'imageTextAlternative',
                'imageStyle:full',
                'imageStyle:side'
            ]
        },
        table: {
            contentToolbar: [
                'tableColumn',
                'tableRow',
                'mergeTableCells'
            ]
        },
    })
        .then(editor => {
            window.editor = editor
        })
        .catch(error => {
            console.error(error.stack)
        })

    $("#file").on('change', function (e) {
        if (e.target.files && e.target.files[0]) {
            var formData = new FormData()
            formData.append('upload', e.target.files[0])
            formData.append('_csrf', _token);
            $.ajax({
                type: 'POST',
                url: "/upload",
                data: formData,
                contentType: false,
                processData: false,
                timeout: 60000,
                success: function (data) {
                    $('#file-id').val(data.id)
                }
            })
        }
    })
</script>
</body>
</html>