<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link th:href="@{/assets/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/assets/css/styles.css}" rel="stylesheet">
    <meta name="_csrf" th:content="${_csrf.token}">
</head>
<body>
<header>
    <nav class="navbar navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="#">Editor Demo</a>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/logout">Logout</a>
                </li>
            </ul>
        </div>
    </nav>
</header>
<div class="container py-5">
    <div class="row">
        <div class="col-12">
            <div class="table-responsive">
                <div class="row">
                    <div class="col-6">

                    </div>
                    <div class="col-6 text-right">
                        <a class="btn btn-link" href="/create">Create</a>
                    </div>
                </div>
                <table class="table">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>Integer field</th>
                        <th>String field</th>
                        <th>Date field</th>
                        <th>File field</th>
                        <th>Created At</th>
                        <th>Updated At</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="post : ${posts}">
                        <td th:text="${post.id}"></td>
                        <td th:text="${post.integerField}"></td>
                        <td th:text="${post.stringField}"></td>
                        <td th:text="${post.dateField}"></td>
                        <td th:text="${post.fileDB != null ? post.fileDB.name : ''}"></td>
                        <td th:text="${post.createdAt}"></td>
                        <td th:text="${post.updatedAt}"></td>
                        <td>
                            <a th:href="@{/edit/{id}(id=${post.id})}">Edit</a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<script th:src="@{/assets/jquery/jquery.min.js}"></script>
<script th:src="@{/assets/js/bootstrap.min.js}"></script>
</body>
</html>